In [1]:
import pandas as pd

df = pd.read_csv("Kraken_BTCUSD_d.csv", header=1)

In [2]:
df.head()

,Date,Symbol,Open,High,Low,Close,Volume From,Volume To
0,2018-08-11,BTCUSD,6141.5,6228.9,5969.6,6228.9,2586.37,15763120.05
1,2018-08-10,BTCUSD,6536.0,6579.1,6010.0,6141.5,7526.91,47487206.71
2,2018-08-09,BTCUSD,6275.9,6630.5,6179.1,6536.0,5942.17,38175637.90
3,2018-08-08,BTCUSD,6717.8,6717.8,6120.0,6275.9,9468.23,60523770.56
4,2018-08-07,BTCUSD,6935.7,7149.0,6659.9,6717.8,6505.50,45042696.31

In [5]:
df["test"] = 5

In [8]:
df["Open"]

0       6141.50
1       6536.00
2       6275.90
3       6717.80
4       6935.70
5       7026.90
6       7024.50
7       7415.00
8       7534.80
9       7604.10
10      7726.00
11      8170.00
12      8213.50
13      8230.80
14      8177.00
15      7925.00
16      8166.00
17      8401.80
18      7720.00
19      7401.10
20      7396.70
21      7320.00
22      7472.30
23      7367.40
24      7316.90
25      6727.00
26      6335.40
27      6250.40
28      6214.90
29      6242.50
         ...
1741     209.46
1742     203.51
1743     202.90
1744     202.10
1745     203.77
1746     195.00
1747     191.00
1748     191.00
1749     184.58
1750     183.00
1751     185.95
1752     202.24
1753     150.00
1754     176.32
1755     162.98
1756     163.00
1757     149.05
1758     143.80
1759     137.64
1760     133.88
1761     135.59
1762     131.84
1763     127.00
1764     125.86
1765     125.86
1766     123.84
1767     124.18
1768     123.61
1769     122.00
1770     238.00
Name: Open, Length: 1771, dtype: float64

In [9]:
df["Open"].shift(-1)

0       6536.00
1       6275.90
2       6717.80
3       6935.70
4       7026.90
5       7024.50
6       7415.00
7       7534.80
8       7604.10
9       7726.00
10      8170.00
11      8213.50
12      8230.80
13      8177.00
14      7925.00
15      8166.00
16      8401.80
17      7720.00
18      7401.10
19      7396.70
20      7320.00
21      7472.30
22      7367.40
23      7316.90
24      6727.00
25      6335.40
26      6250.40
27      6214.90
28      6242.50
29      6377.90
         ...
1741     203.51
1742     202.90
1743     202.10
1744     203.77
1745     195.00
1746     191.00
1747     191.00
1748     184.58
1749     183.00
1750     185.95
1751     202.24
1752     150.00
1753     176.32
1754     162.98
1755     163.00
1756     149.05
1757     143.80
1758     137.64
1759     133.88
1760     135.59
1761     131.84
1762     127.00
1763     125.86
1764     125.86
1765     123.84
1766     124.18
1767     123.61
1768     122.00
1769     238.00
1770        NaN
Name: Open, Length: 1771, dtype: float64

In [10]:
df["Open_before"] = df["Open"].shift(-1)

In [11]:
df.head()

,Date,Symbol,Open,High,Low,Close,Volume From,Volume To,test,Open_before
0,2018-08-11,BTCUSD,6141.5,6228.9,5969.6,6228.9,2586.37,15763120.05,5,6536.0
1,2018-08-10,BTCUSD,6536.0,6579.1,6010.0,6141.5,7526.91,47487206.71,5,6275.9
2,2018-08-09,BTCUSD,6275.9,6630.5,6179.1,6536.0,5942.17,38175637.90,5,6717.8
3,2018-08-08,BTCUSD,6717.8,6717.8,6120.0,6275.9,9468.23,60523770.56,5,6935.7
4,2018-08-07,BTCUSD,6935.7,7149.0,6659.9,6717.8,6505.50,45042696.31,5,7026.9

In [15]:
(6141.5 / 6536.0) - 1

-0.06035801713586286

In [17]:
df["Open_changes"] = (df["Open"] / df["Open_before"]) - 1

In [18]:
df.head()

,Date,Symbol,Open,High,Low,Close,Volume From,Volume To,test,Open_before,Open_changes
0,2018-08-11,BTCUSD,6141.5,6228.9,5969.6,6228.9,2586.37,15763120.05,5,6536.0,-0.060358
1,2018-08-10,BTCUSD,6536.0,6579.1,6010.0,6141.5,7526.91,47487206.71,5,6275.9,0.041444
2,2018-08-09,BTCUSD,6275.9,6630.5,6179.1,6536.0,5942.17,38175637.90,5,6717.8,-0.065780
3,2018-08-08,BTCUSD,6717.8,6717.8,6120.0,6275.9,9468.23,60523770.56,5,6935.7,-0.031417
4,2018-08-07,BTCUSD,6935.7,7149.0,6659.9,6717.8,6505.50,45042696.31,5,7026.9,-0.012979